.card {
  max-width: 543px;
  width: 100%;
  height: auto;
  background: #f2f2f3;
  border-radius: 55px;
}

.card--white {
  background-color: var(--color-white);
}

.card--white-light {
  background-color: var(--color-white-light);
}